MyGoogleDrive/MyClient/Service References/MyGoogleDrive/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyGoogleDrive" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyGoogleDrive" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FInfo" nillable="true" type="tns:FInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFInfo" nillable="true" type="tns:ArrayOfFInfo" />
  <xs:complexType name="FInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastWriteTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FInfo" nillable="true" type="tns:FInfo" />
</xs:schema>